<!-- Header -->
  <header id="header">
    <div class="content">
      <h1><a href="#">{{ site.title }}</a></h1>
      <p>Dominicanos hasta la tambora!!<br />
       Visita nuestro canal en <a href="https://chat.chatzona.org/index.html#channel=#Dominicanos">ChatZona</a></p>
      <ul class="actions">
        <li><a href="https://chat.chatzona.org/index.html#channel=#Dominicanos" class="button icon fa-chevron-down scrolly">Ingresa al CHat</a></li>
      </ul>
    </div>
    <div class="image phone"><div class="inner"><img src="Dev1lsNet IRC.png" alt="" /></div></div>
  </header>
